@model List<EmpleadoModel>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">Lista de Empleados</div>
    <div class="card-body">

        <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
        <hr/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Tipo_Documento</th>
                    <th>Número de documento</th>
                    <th>Fecha_Contrato</th>
                    <th>País</th>
                    <th>Área</th>
                    <th>Sunárea</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model){
                    <tr>
                        <td>@item.Nombres</td>
                        <td>@item.Apellidos</td>
                        <td>@item.Tipo_Documento</td>
                        <td>@item.Identificacion</td>
                        <td>@item.Fecha_Contrato</td>
                        <td>@item.Pais</td>
                        <td>@item.Area</td>
                        <td>@item.Subarea</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Mantenedor" class="btn btn-primary btn-sm" asp-route-IdEmpleado="@item.IdEmpleado">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Mantenedor" class="btn btn-danger btn-sm" asp-route-IdEmpleado="@item.IdEmpleado">Eliminar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

